* {
  box-sizing: border-box;
}

:root {
  --fontHeading: "Sen", sans-serif;
  --primaryColor: #ffb900;
}
html {
  font-size: 62.5%;
}
/* Khôi phục cỡ chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* COMMON */
a {
  text-decoration: none;
}
.headingH2 {
  color: #171100;
  font-family: var(--fontHeading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.mainContent {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--lineClamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineClamp.line2 {
  --lineClamp: 2;
}
.breakAll {
  word-break: break-all;
}
/* header */
.header {
  background-color: #fffcf4;
}
.header .bodyHeader {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .action {
  margin-left: 49px;
}
/* nav */
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

/* btn */
.btn {
  display: inline-block;
  padding: 0px 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.header.bntSignUp {
  min-width: 144px;
}

/* HERO */
/* hero left */
.hero {
  padding: 56px 0 56px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}

.hero .mediaBlock {
  width: 48%;
  position: relative;
}

.hero .mediaBlock .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .heroSummary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

/* heroSummary */
.heroSummary .item {
  display: flex;
  align-items: center;
}
.heroSummary .item + .item {
  margin-top: 22px;
}
.heroSummary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.heroSummary .icon2 {
  background-color: #fcefff;
}
.heroSummary .icon3 {
  background-color: #ebeaff;
}
.heroSummary .info {
  margin-left: 16px;
}
.heroSummary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.heroSummary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* hero right */
.hero .contentBlock {
  width: 52%;
  padding-left: 130px;
  padding-right: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--fontHeading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.76;
  margin-top: 22px;
}
.hero .ctaGroup {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.heroCta {
  min-width: 180px;
  background-color: var(--primaryColor);
  line-height: 64px;
}
.hero .watchVideo {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watchVideo .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watchVideo span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .descRecent {
  margin-top: 48px;
}
.hero .descStrong {
  margin-top: 8px;
}
.hero .descStrong strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--fontHeading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}
.hero .descStrong strong:nth-child(2) {
  margin-left: 48px;
}

/* popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popularTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularTop .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popularTop .controls {
  display: flex;
  gap: 18px;
}
.popularTop .controlBtn {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffb900;
  border: 1px solid var(--primaryColor);
}
.popularTop .controlBtn:hover {
  background-color: #ffb900;
  color: #fff;
  cursor: pointer;
}

.popular .courseList {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .courseItem {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
}
.popular .courseItem:hover {
  border: 1px solid #e2dfda;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .courseItem .thumb {
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .courseItem .info {
  padding: 16px 22px 22px;
}
.popular .courseItem .foot,
.popular .courseItem .head,
.popular .courseItem .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .courseItem .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .rating .val {
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75;
}
.popular .courseItem .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.popular .courseItem .foot {
  margin-top: 12px;
}
.popular .courseItem .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .courseItem .bookBtn {
  border: none;
}
.popular .courseItem .bookBtn:hover {
  background: var(--primaryColor);
}
