* {
  box-sizing: border-box;
}

:root {
  --fontHeading: "Sen", sans-serif;
  --primaryColor: #ffb900;
}
html {
  font-size: 62.5%;
}
/* Khôi phục cỡ chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* COMMON */
a {
  text-decoration: none;
}
.headingH2 {
  color: #171100;
  font-family: var(--fontHeading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27;
  letter-spacing: -0.76px;
}
.mainContent {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--lineClamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.lineClamp.line2 {
  --lineClamp: 2;
}
.breakAll {
  word-break: break-all;
}
/* header */
.header {
  background-color: #fffcf4;
}
.header .bodyHeader {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .action {
  margin-left: 49px;
}
/* nav */
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

/* btn */
.btn {
  display: inline-block;
  padding: 0px 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 999px;
  background: #171100;
}
.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}
.header.bntSignUp {
  min-width: 144px;
}

/* HERO */
/* hero left */
.hero {
  padding: 56px 0 56px;
  background-color: #fffcf4;
}
.hero .body {
  display: flex;
}

.hero .mediaBlock {
  width: 48%;
  position: relative;
}

.hero .mediaBlock .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .heroSummary {
  padding: 24px;
  width: 270px;
  position: absolute;
  bottom: 48px;
  right: 0;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

/* heroSummary */
.heroSummary .item {
  display: flex;
  align-items: center;
}
.heroSummary .item + .item {
  margin-top: 22px;
}
.heroSummary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}
.heroSummary .icon2 {
  background-color: #fcefff;
}
.heroSummary .icon3 {
  background-color: #ebeaff;
}
.heroSummary .info {
  margin-left: 16px;
}
.heroSummary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.heroSummary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* hero right */
.hero .contentBlock {
  width: 52%;
  padding-left: 130px;
  padding-right: 64px;
}
.hero .heading {
  color: #171100;
  font-family: var(--fontHeading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.76;
  margin-top: 22px;
}
.hero .ctaGroup {
  margin-top: 38px;
  display: flex;
  align-items: center;
}
.heroCta {
  min-width: 180px;
  background-color: var(--primaryColor);
  line-height: 64px;
}
.hero .watchVideo {
  border: none;
  background: transparent;
  display: flex;
  margin-left: 28px;
  align-items: center;
  cursor: pointer;
}
.hero .watchVideo .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}
.hero .watchVideo span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero .descRecent {
  margin-top: 48px;
}
.hero .descStrong {
  margin-top: 8px;
}
.hero .descStrong strong {
  margin-right: 15px;
  color: #171100;
  font-family: var(--fontHeading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23;
}
.hero .descStrong strong:nth-child(2) {
  margin-left: 48px;
}

/* popular */
.popular {
  padding: 65px 0;
  margin-top: 135px;
}
.popularTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularTop .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67;
}
.popularTop .controls {
  display: flex;
  gap: 18px;
}
.popularTop .controlBtn {
  display: flex;
  background: transparent;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffb900;
  border: 1px solid var(--primaryColor);
}
.popularTop .controlBtn:hover {
  background-color: #ffb900;
  color: #fff;
  cursor: pointer;
}

.popular .courseList {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.popular .courseItem {
  flex: 1;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #e2dfda;
}
.popular .courseItem:hover {
  border: 1px solid #e2dfda;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}
.popular .courseItem .thumb {
  border-radius: 12px 12px 0px 0px;
  height: 278px;
  object-fit: cover;
  width: 100%;
}

.popular .courseItem .info {
  padding: 16px 22px 22px;
}
.popular .courseItem .foot,
.popular .courseItem .head,
.popular .courseItem .rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .courseItem .title a {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .rating .val {
  margin-left: 6px;
  color: #fea31b;
  font-size: 16px;
  line-height: 1.75;
}
.popular .courseItem .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
}
.popular .courseItem .foot {
  margin-top: 12px;
}
.popular .courseItem .price {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.popular .courseItem .bookBtn {
  border: none;
}
.popular .courseItem .bookBtn:hover {
  background: var(--primaryColor);
}

/* feedback */
.feedback {
  margin-top: 135px;
  background: #2e2100;
  padding: 96px 0;
}
.feedbackList {
  display: flex;
  overflow: hidden;
}
.feedbackItem {
  display: flex;
}
.feedbackItem .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  object-fit: cover;
}
.feedbackItem .info .memberName {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: var(--fontHeading);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42;
}
.feedbackItem .info .desc {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 26px;
}
.feedbackItem .dots {
  gap: 6px;
  display: flex;
  margin-top: 28px;
}

.feedbackItem .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}
.feedbackItem .dot.active {
  background: var(--primaryColor);
  cursor: default;
}
.feedbackItem .content {
  width: 66%;
  margin-left: auto;
}
.feedbackItem blockquote {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  line-height: 1.54;
}

/* features 1 */
.features {
  margin-top: 135px;
  padding: 65px 0;
}
.features .body {
  display: flex;
  justify-content: space-between;
}
.features .images {
  display: flex;
  gap: 30px;
}
.features .images img {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 20px;
}
.features .lower {
  margin-top: 34px;
}

.features .content {
  width: 42%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
}
.features .ctaBtn {
  margin-top: 32px;
  width: 137px;
  height: 50px;
  background: var(--primaryColor);
}

/* feature 2 */
.feature2 {
  margin-top: 70px;
}

.feature2 .body {
  flex-direction: row-reverse;
}

.feature2 .content {
  width: 49%;
}

.feature2 .images img {
  width: 470px;
  height: 440px;
}

/* blog */
.blog {
  margin-top: 135px;
  padding: 96px 0;
  background: #fffcf4;
}

.blog .blogTop {
  text-align: center;
}
.blog .blogTop .desc {
  margin: 16px auto 0;
  width: 448px;
  color: #696262;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blog .blogList {
  overflow: hidden;
  gap: 30px;
  display: flex;
  margin-top: 55px;
}

.blog .item {
  flex-shrink: 0;
  width: calc(33.33% - 20px);
  border-radius: 16px;
  background: #fff;
}

.blog .item:hover {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16 0px 0px;
}

.blog .item .info {
  padding: 20px 20px 28px;
}

.blog .item .date {
  display: inline-flex;
  padding-bottom: 12px;
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 1.86;
  align-items: center;
}

.blog .item .date::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primaryColor);
}

.blog .item .date::after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: -27px;
  content: "";
  display: inline-block;
  height: 1px;
  background: #e2dfda;
}

.blog .item .title {
  margin-top: 12px;
  color: #171100;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.blog .item .btn {
  margin-top: 12px;
  font-size: 1.4rem;
}

.blog .item .btn:hover {
  background: var(--primaryColor);
}

.blog .dots {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 38px;
}

.blog .dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #5f5b53;
  cursor: pointer;
}

.blog .dot.active {
  background: var(--primaryColor);
  cursor: default;
}

/* footer */
.footer {
  background: #2e2100;
  padding: 96px 135px 0;
}

.footer .row {
  display: flex;
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  max-width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .social {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  padding-bottom: 14px;
  padding-right: 48px;
  display: inline-block;
  color: #fff;
  border-bottom: 1px solid #59554b;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list a {
  margin-top: 28px;
  margin-bottom: 12px;
  color: #bfbcb2;
  font: 1.4rem;
  line-height: 1.86;
}

.footer .list li:last-child {
  margin-bottom: 0;
}

.footer .list strong {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}
