* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
/* Khôi phục cỡ chữ mặc định */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* COMMON */
a {
  text-decoration: none;
}

.mainContent {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
/* header */
.header {
  background-color: #fffcf4;
}
.header .bodyHeader {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header .fixed {
  position: sticky;
  top: -28px;
}
.header.action {
  margin-left: 49px;
}
/* nav */
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a:hover,
.nav li.active a {
  color: #171100;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background-color: #171100;
}

/* btn */
.btn {
  display: inline-block;
  padding: 0px 16px;
  min-width: 118px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}
.header.bntSignUp {
  min-width: 144px;
}
